# Extra Credit - Bitcoin - Cryptocurrencies

In [1]:
from datascience import *
import numpy as np

In [2]:
bcdata = Table().read_table("BitcoinDataJunefirst_June26.csv")

In [3]:
bcdata

Date         | Price    | Open     | High     | Low      | Vol.    | Unnamed: 6
Jun 26, 2023 | 30,248.1 | 30,466.3 | 30,645.9 | 29,986.3 | 58.32K  | nan
Jun 25, 2023 | 30,465.3 | 30,533.6 | 31,040.2 | 30,315.8 | 37.12K  | nan
Jun 24, 2023 | 30,533.6 | 30,680.7 | 30,795.3 | 30,269.4 | 38.15K  | nan
Jun 23, 2023 | 30,679.4 | 29,890.2 | 31,395.4 | 29,822.6 | 98.85K  | nan
Jun 22, 2023 | 29,890.5 | 29,992.8 | 30,497.8 | 29,590.4 | 79.22K  | nan
Jun 21, 2023 | 29,996.9 | 28,307.7 | 30,769.5 | 28,270.5 | 143.49K | nan
Jun 20, 2023 | 28,307.7 | 26,845.9 | 28,393.0 | 26,665.5 | 100.55K | nan
Jun 19, 2023 | 26,845.9 | 26,339.7 | 27,029.7 | 26,295.1 | 46.45K  | nan
Jun 18, 2023 | 26,339.7 | 26,515.0 | 26,679.3 | 26,290.6 | 27.31K  | nan
Jun 17, 2023 | 26,515.0 | 26,341.3 | 26,767.3 | 26,183.5 | 35.86K  | nan
... (22 rows omitted)

In [4]:
bcdata = bcdata.drop(6)

In [5]:
bcdata

Date         | Price    | Open     | High     | Low      | Vol.
Jun 26, 2023 | 30,248.1 | 30,466.3 | 30,645.9 | 29,986.3 | 58.32K
Jun 25, 2023 | 30,465.3 | 30,533.6 | 31,040.2 | 30,315.8 | 37.12K
Jun 24, 2023 | 30,533.6 | 30,680.7 | 30,795.3 | 30,269.4 | 38.15K
Jun 23, 2023 | 30,679.4 | 29,890.2 | 31,395.4 | 29,822.6 | 98.85K
Jun 22, 2023 | 29,890.5 | 29,992.8 | 30,497.8 | 29,590.4 | 79.22K
Jun 21, 2023 | 29,996.9 | 28,307.7 | 30,769.5 | 28,270.5 | 143.49K
Jun 20, 2023 | 28,307.7 | 26,845.9 | 28,393.0 | 26,665.5 | 100.55K
Jun 19, 2023 | 26,845.9 | 26,339.7 | 27,029.7 | 26,295.1 | 46.45K
Jun 18, 2023 | 26,339.7 | 26,515.0 | 26,679.3 | 26,290.6 | 27.31K
Jun 17, 2023 | 26,515.0 | 26,341.3 | 26,767.3 | 26,183.5 | 35.86K
... (22 rows omitted)

In [6]:
type(bcdata.column('Low').item(0))

str

In [7]:
l = bcdata.column('Low').item(0)
l

'29,986.3'

The function <b>convert_to_float</b> eliminates the comma from a 
given string and subsequently transforms the string into a floating-point number

In [8]:
def convert_to_float(s):
    valid_chars = set('0123456789,.')
    #It chacks if the given string contains only numbers, periods, and/or commas:
    if set(s) <= valid_chars:
        return float(s.replace(",",""))
    else:
        print ("Cannot convert to the floating point! ")

<b>set()</b> 
Sets are used to store multiple items in a single variable.<br>
Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.<br>
<b>Set only stores a value once even if it is inserted more than once. </b>

In [9]:
set("111112223232")

{'1', '2', '3'}

In [10]:
set("Hello,")

{',', 'H', 'e', 'l', 'o'}

In [11]:
convert_to_float(bcdata.column('Low').item(0))

29986.3

In [12]:
h= bcdata.apply(convert_to_float,"High")

In [13]:
l = bcdata.apply(convert_to_float,"Low")

In [14]:
h-l

array([  659.6,   724.4,   525.9,  1572.8,   907.4,  2499. ,  1727.5,
         734.6,   388.7,   583.8,  1196.8,   894.8,  1204.3,   702.5,
         445.7,   529.3,  1056.8,   447.2,   553.1,  1201. ,  1899.6,
        1688. ,   454.1,   386.1,   758.1,   678.6,   959.9,   449.8,
         882.4,  1393.4,   291.7,   581.6])

In [15]:
bcdata.with_column("daily change",h-l)

Date         | Price    | Open     | High     | Low      | Vol.    | daily change
Jun 26, 2023 | 30,248.1 | 30,466.3 | 30,645.9 | 29,986.3 | 58.32K  | 659.6
Jun 25, 2023 | 30,465.3 | 30,533.6 | 31,040.2 | 30,315.8 | 37.12K  | 724.4
Jun 24, 2023 | 30,533.6 | 30,680.7 | 30,795.3 | 30,269.4 | 38.15K  | 525.9
Jun 23, 2023 | 30,679.4 | 29,890.2 | 31,395.4 | 29,822.6 | 98.85K  | 1572.8
Jun 22, 2023 | 29,890.5 | 29,992.8 | 30,497.8 | 29,590.4 | 79.22K  | 907.4
Jun 21, 2023 | 29,996.9 | 28,307.7 | 30,769.5 | 28,270.5 | 143.49K | 2499
Jun 20, 2023 | 28,307.7 | 26,845.9 | 28,393.0 | 26,665.5 | 100.55K | 1727.5
Jun 19, 2023 | 26,845.9 | 26,339.7 | 27,029.7 | 26,295.1 | 46.45K  | 734.6
Jun 18, 2023 | 26,339.7 | 26,515.0 | 26,679.3 | 26,290.6 | 27.31K  | 388.7
Jun 17, 2023 | 26,515.0 | 26,341.3 | 26,767.3 | 26,183.5 | 35.86K  | 583.8
... (22 rows omitted)

# Question 1

Write a function that accepts a date as input and returns the corresponding day of the week for that specific date. You may need to import the date or time modules. For instance, if the input is June 29, 2023, the output should be Thursday.

In [31]:
import datetime as dt
def date_to_day_of_week(d):
    '''Returns the day of the week from given date(formatted *month*, *day*, *year*)'''
    d = d.replace(",", "")
    l = d.split(" ")
    match l[0]:
        case 'January':
            month = 1
        case 'Jan':
            month = 1
        case 'February':
            month = 2
        case 'Feb':
            month = 2
        case 'March':
            month = 3
        case 'Mar':
            month = 3
        case 'April':
            month = 4
        case 'Apr':
            month = 4
        case 'May':
            month = 5
        case 'June':
            month = 6
        case 'Jun':
            month = 6
        case 'July':
            month = 7
        case 'Jul':
            month = 7
        case 'August':
            month = 8
        case 'Aug':
            month = 8
        case 'September':
            month = 9
        case 'Sep':
            month = 9
        case 'October':
            month = 10
        case 'Oct':
            month = 10
        case 'November':
            month = 11
        case 'Nov':
            month = 11
        case 'December':
            month = 12
        case 'Dec':
            month = 12
        case _:
            return "month not recognized"
            
    l[0] = month
    
    day_of_week = dt.date(int(l[2]), l[0], int(l[1])).weekday()
    
    match day_of_week:
        case 0:
            return 'Monday'
        case 1:
            return 'Tuesday'
        case 2:
            return 'Wednesday'
        case 3:
            return 'Thursday'
        case 4:
            return 'Friday'
        case 5:
            return 'Saturday'
        case 6:
            return 'Sunday'

# Question 2
Use the function from question 1 on the 'Date' column of the 'bcdata' table and store the result in a new column called 'weekday' in the 'bcdata' table. For instance, June 26, 2023 corresponds to 'Monday'.

In [32]:
weekday = bcdata.apply(date_to_day_of_week, "Date")

In [33]:
bcdata.with_column("weekday", weekday)

Date         | Price    | Open     | High     | Low      | Vol.    | weekday
Jun 26, 2023 | 30,248.1 | 30,466.3 | 30,645.9 | 29,986.3 | 58.32K  | Monday
Jun 25, 2023 | 30,465.3 | 30,533.6 | 31,040.2 | 30,315.8 | 37.12K  | Sunday
Jun 24, 2023 | 30,533.6 | 30,680.7 | 30,795.3 | 30,269.4 | 38.15K  | Saturday
Jun 23, 2023 | 30,679.4 | 29,890.2 | 31,395.4 | 29,822.6 | 98.85K  | Friday
Jun 22, 2023 | 29,890.5 | 29,992.8 | 30,497.8 | 29,590.4 | 79.22K  | Thursday
Jun 21, 2023 | 29,996.9 | 28,307.7 | 30,769.5 | 28,270.5 | 143.49K | Wednesday
Jun 20, 2023 | 28,307.7 | 26,845.9 | 28,393.0 | 26,665.5 | 100.55K | Tuesday
Jun 19, 2023 | 26,845.9 | 26,339.7 | 27,029.7 | 26,295.1 | 46.45K  | Monday
Jun 18, 2023 | 26,339.7 | 26,515.0 | 26,679.3 | 26,290.6 | 27.31K  | Sunday
Jun 17, 2023 | 26,515.0 | 26,341.3 | 26,767.3 | 26,183.5 | 35.86K  | Saturday
... (22 rows omitted)